version: "3.8"

services:
  app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - ./.env.dev
    environment:
      DB_HOST: db
    volumes:
      - .:/home/app_user/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: caloreat

volumes:
  postgres_data:
